.cartContainer {
  background-color: var(--rose50);
  height: fit-content;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 8px;
  min-width: 300px;
  /* clamp(min(300px), 400px, max(900px));   */
}
.cartContainer h4 {
  color: var(--red);
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}


.carbonNeutral {
  background-color: var(--rose100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  padding: .2rem;
  margin: 1rem;
}
.modalCartContainer {
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  background-color: var(--rose100);
  border: 1px solid hsla(0, 0%, 0%, 0.089);
  border-radius: 8px;
  display: grid;
}
.modalHeader {
  margin: 1rem 0rem;
}
.modalListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--rose50);
  overflow: auto;
}
.confirmOrder {
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
  background-color: var(--red);
  color: white;
  transition: background-color, 1s;
  margin: 1rem auto;
  align-self: center;
}
.confirmOrder:hover {
  background-color: var(--rose900);
}
.modalViewOrderTotal {
  margin-left: 1rem;
}
@media screen and (max-width: 784px){
  .cartContainer{
    margin: 0 1rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 560px) {
  .cartContainer{
    margin: 0;
    
  }
  .modalCartContainer{
    position: inherit;
  }
}
