.container{
    max-width:1500px ;
    margin: 0 auto;
    padding: 20px;
   display: flex;
   justify-content: center;
   gap: 3rem;
}
@media screen and (max-width: 1130px){
   .container{
    gap: .5rem;
   }
}

@media screen and (max-width: 560px){
    .container{
        flex-direction: column;
    }
}