.modalContainer{
    position: fixed;
    left: 30%;
    top: 20%;
    background-color: white;
    padding: 1rem;
    width: 30%;
    padding: 2rem;
    
}

.cartItems{
    background-color: var(--rose100);
    padding: 1rem;
    border-radius: 8px;
}