@font-face {
    font-family: 'RedHat';
    src: url('src/assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RedHat';
    src: url('src/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }
  
  :root {
    /* SPACING */
    --dw: 1440px;
    --mw: 375px;
    
    /* COLORS */
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
  
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
  
    /* TYPOGRAPHY */
    
    /* Base text size */
    --btx: 16px;
  
    /* Heading sizes */
    --fs-h1: 2.5rem; /* Heading 1 */
    --fs-h2: 2rem;   /* Heading 2 */
    --fs-h3: 1.75rem;/* Heading 3 */
    --fs-h4: 1.5rem; /* Heading 4 */
    --fs-h5: 1.25rem;/* Heading 5 */
    --fs-h6: 1rem;   /* Heading 6 */
  
    /* Font weights */
    --fw-normal: 400; /* Regular */
    --fw-semibold: 600; /* Semibold */
    --fw-bold: 700; /* Bold */
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
  }
  
  body {
    min-height: 100vh;
    font-family: 'RedHat', sans-serif;
    font-size: var(--btx);
    background-color: var(--rose100);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  